.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url("../../images/texting.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}