.mainContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 120px;
  background-color: var(--white);
  border-radius: 25px;
  padding: 5px;
  padding-left: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.textContainer{
  display: flex;
  flex-direction: column

}

.usernameContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
}

.userNameDescription{
  margin-right: 10px;
}

.secondContainer {
  display: flex;
  flex-direction: row;
  height: 70%;
  width: 100%;
}

.iconContainer {
  width: 20%;
  height: 50%;
}

.description {
  width: 70%;
}

.iconImage{
  height: 100%;
  width: 100%;
}

.postIDContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
