@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.mainContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    min-height: 120px;
    background-color: var(--white);
    border-radius: 25px;
    padding: 20px 10px 20px 10px;
    margin: 5px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

.textContainer {
    display: flex;
    flex-direction: column;
}

.description {
    width: 100%;
}

.iconImage {
    width: 15%;
    height: 60%;
}

.metaData {
    display: flex;
    justify-content: space-between;
    color: #808080;
    width: 95%
}
