.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: -webkit-linear-gradient(
    var(--background-color-gradient-1),
    var(--background-color-gradient-2)
  );
  background: -moz-linear-gradient(
    var(--background-color-gradient-1),
    var(--background-color-gradient-2)
  );
  background: linear-gradient(
    var(--background-color-gradient-1),
    var(--background-color-gradient-2)
  );
}

.header {
  padding-left: var(--header-padding);
}

.mapContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80%;
}

.postHeader {
  padding-left: var(--header-padding);
}

.postScroller {
  padding-left: var(--header-padding);
}

.mobileMenuContainer {
  display: flex;
  width: 100%;
  height: 25%;
  flex-direction: column;
}

@media only screen and (min-width: 800px) {
  .mainContainer {
    width: 100%;
  }

  .mapContainer {
    flex-direction: row-reverse;
    width: 95%;
    height: 95%;
    padding-left: 3%;
  }

  .postContainer {
    width: 40%;
    height: 88%;
    padding-right: 5%;
    border: 2px solid var(--menuColor);
  }

  .mobileMenuContainer {
    display: none;
  }
}
