.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url("../../images/texting.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
}

.logo {
  width: 35%;
  fill: var(--white);
}

.slogan {
  color: var(--white);
  font-size: 20px;
  text-align: center;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

button {
  width: 100%;
}

@media only screen and (min-width: 750px) {
  .logo {
    width: 60%;
  }

  .buttonContainer {
    width: 40%;
  }

  .slogan {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .logo {
    width: 40%;
  }

  .buttonContainer {
    width: 25%;
  }

  .slogan {
    color: var(--white);
    font-size: 30px;
    text-align: center;
  }
}
