.mainContainer {
  display: flex;
  height: 72px;
  background-color: var(--menuColor);
  padding-left: 15px;
  width: 100%;
}

.logo {
  width: 35%;
}

.navbar {
  display: flex;
  width: 40%;
  height: 100%;
  align-items: center;
}

.login {
  width: 20%;
}
.sidebarContainer {
    display:none;
  }

@media only screen and (max-width: 700px) {
  .navbar {
    display: none;
  }

  .logo {
    width: 20%;
  }

  .login {
  width: 50%;
  display: none;
}

.sidebarContainer {
  display: inline;
  width: 12%;
  }
}
