.mainContainer {
  display: flex;
  height: 72px;
  background-color: var(--menuColor);
  padding-left: 15px;
  width: 99%;
}

.logo {
  width: 35%;
}

.navbar {
  display: flex;
  width: 40%;
  height: 100%;
  align-items: center;
}

.login {
  width: 20%;
}

@media only screen and (max-width: 400px) {
  .navbar {
    display: none;
  }

  .logo {
    width: 70%;
  }
}
