.mainContainer {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    align-items: flex-start;
    border: 0px;
    margin: 0;
    padding: 0;
}

.itemContainer {
    display: flex;
    flex-direction: row;
    margin: 20px
}

.loginButton{
    width:70%;
}