.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.container > * {
    margin: 10px;
}

.photo {
    background-color: transparent;
}

.submit {
    background-color: #FF7D62;
}

@media screen and (min-width: 600px) {
    .container {
        width: 50%;
    }
}
