.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.container > * {
  margin: 10px;
}

.photo {
  background-color: transparent;
}

.submit {
  background-color: #ff7d62;
}

@media screen and (min-width: 800px) {
  .container {
    width: 30%;
  }
}
