.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

nav {
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  color: var(--white);
  padding: 0 10px;
}

.link {
  padding-right: 10%;
}

a,
a:visited {
  color: var(--white);
  text-decoration: none;
}
@media screen and (min-width: 600px) {
  .container {
  }

  ul {
    justify-content: flex-start;
    padding: 0 10px;
  }

  .logo {
    display: inline;
  }

  a:hover {
    color: var(--yellow);
  }
}
